.design-hero-container {
  display: flex;
  flex-direction: column;
  color: rgba(255, 255, 255, 1);
  font: 300 48px/77px Montserrat, sans-serif;
  max-width: 1380px;
  margin: 0 auto;
}
@media (max-width: 991px) {
  .design-hero-container {
    font-size: 40px;
    line-height: 72px;
  }
}
.design-vertical-line {
  z-index: 10;
  width: 0px;
  height: 68px;
  border: 1px solid rgba(255, 255, 255, 1);
}
.design-content-wrapper {
  display: flex;
  width: 100%;
  padding: 0 0 0 0px;
  flex-direction: column;
}
@media (max-width: 991px) {
  .design-content-wrapper {
    max-width: 100%;
    padding-left: 20px;
    font-size: 40px;
    line-height: 72px;
  }
}
.design-heading {
  font-size: 48px;
  font-weight: 300;
  line-height: 77px;
  width: 40%;
}
@media (max-width: 991px) {
  .design-heading {
    max-width: 100%;
    font-size: 40px;
    line-height: 72px;
  }
}
.design-image {
  aspect-ratio: 2.32;
  object-fit: contain;
  object-position: center;
  width: 70%;
  margin: 0 auto;
}
@media (max-width: 991px) {
  .design-image {
    max-width: 100%;
  }
}
.design-visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
