.solutions-wrapper {
  width: 100%;
  margin-top: 40px;
  overflow: hidden;
  padding: 20px 0;
  font-family: Montserrat, sans-serif;
}

.solutions-card {
  display: flex;
  flex-direction: row;
  gap: 30px;
  padding: 0 5px;
  max-width: 1200px;
  margin: 0 auto;
}

.solutions-wrapper .swiper-slide {
  height: auto !important;
  width: auto !important;
  max-width: 100%;
}

.solutions-image {
  border-radius: 12px;
  background-color: rgba(217, 217, 217, 1);
  align-self: stretch;
  display: flex;
  min-width: 240px;
  width: 590px;
  height: 332px;
  margin: auto 0;
}

.solutions-content {
  align-self: stretch;
  display: flex;
  min-width: 240px;
  flex-direction: column;
  justify-content: start;
  width: 588px;
  margin: auto 0;
}

.solutions-text {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: start;
}

.solutions-title {
  font-size: 26px;
  line-height: 1.6;
  margin: 0;
  color: #fff;
  font-weight: 400;
}

.solutions-description {
  font-size: 16px;
  line-height: 26px;
  margin-top: 10px;
  color: #fff;
  opacity: 0.7;
  font-weight: 400;
}

.solutions-cta {
  align-self: start;
  display: flex;
  margin-top: 40px;
  align-items: center;
  gap: 10px;
  font-size: 16px;
  line-height: 1.6;
  justify-content: start;
  cursor: pointer;
  color: #fff;
  font-weight: 400;
}

@media (max-width: 1200px) {
  .solutions-card {
    padding: 0 0px;
  }

  .solutions-image {
    width: 100%;
    height: 250px;
  }

  .solutions-content {
    width: 100%;
  }
}

@media (max-width: 991px) {
  .solutions-card {
    flex-direction: row;
    /* padding: 0 0px;
    width: 90%; */
  }

  /* .solutions-image {
    width: 100%;
    height: 250px;
  }

  .solutions-content {
    width: 100%;
    padding: 0 0px;
  } */
}

@media (max-width: 768px) {
  .solutions-card {
    flex-direction: column;
    align-items: center;
  }
  .solutions-image,
  .solutions-content {
    width: 90%;
  }
}

@media (max-width: 480px) {
  .solutions-title {
    font-size: 20px;
  }

  .solutions-description {
    font-size: 14px;
    line-height: 1.5;
  }

  .solutions-cta {
    margin-top: 20px;
  }

  .solutions-content {
    width: 90%;
    padding: 0 0px;
  }
}

.solutions-details {
  padding: 20px;
}
